.calendar-head {
  width: 100%;
  height: 50px;

  display: flex;
  align-items: center;

  padding-left: 10px;
  padding-right: 10px;

  background-color: #167e56;

  button {
    @extend %btn;
    margin-left: 15px;
  }

  select {
    width: 130px;
    height: 30px;
    border-radius: 3px;
    margin-left: 565px;
  }
}
